root = true

[*.{md,yml}]
charset = utf-8                 # 文字コード設定（latin1/utf-8/utf-8-bom/utf-16be/utf-16le/...）
end_of_line = lf                # 改行コード設定（lf/cr/crlf）
indent_size = 2                 # インデント時のサイズ設定
indent_style = space              # インデント時のスタイル設定（tab/space）
insert_final_newline = true     # 最終行の改行設定（true=改行あり）
trim_trailing_whitespace = true # 文末スペースの設定（true=削除）